
/* https://codepen.io/martinvz/pen/vYRxpKG */
progress {
    --track: rgba(255, 255, 255, 0.1);
    --progress: var(--color, blue);
    --indeterminate-track: linear-gradient(to right,
            var(--track) 45%,
            var(--progress) 0%,
            var(--progress) 55%,
            var(--track) 0%);
    --indeterminate-track-size: 225% 100%;
    --indeterminate-track-animation: progress-loading-simple 2s infinite ease;
    position: relative;
}

progress:indeterminate:after {
    content: "";
    inset: 0;
    position: absolute;
    background: var(--indeterminate-track);
    background-size: var(--indeterminate-track-size);
    background-position: right;
    -webkit-animation: var(--indeterminate-track-animation);
    animation: var(--indeterminate-track-animation);
}

@-webkit-keyframes progress-loading-simple {
    50% {
        background-position: left;
    }
}

@keyframes progress-loading-simple {
    50% {
        background-position: left;
    }
}

.usage-bar,
s-progress,
progress {
    height: 8px;
    background: var(--track);
    border-radius: 4px;
    overflow: hidden;
}

s-progress {
    display: flex;
    height: inherit;
    width: 100%;
}

.usage-progress,
s-progress div,
progress::-webkit-progress-value {
    height: 100%;
    /* background: linear-gradient(45deg, var(--color, #00b4db), #0083b0); */
    background: var(--color, #00b4db);
    border-radius: 4px;
    transition: width 0.3s ease;
}

progress::-webkit-progress-bar {
    background: var(--track);
    border-radius: 4px;
}
